In [ ]:
# variable que captura el teléfono de una persona
#telefono = 311215121
# variable nombre de persona
nombre = "Carlos Diaz"
# visualiza por pantalla el valor de la variable telefono
#print(telefono)
# Visualza el valor de nombre
print(nombre)

Carlos Diaz

#***INICIANDO CON PYTHON***

In [ ]:
print("Hola mundo")

Hola mundo

In [ ]:
nombre_P = "Carlos Diaz"
print(nombre_P)

Carlos Diaz

In [ ]:
edad = 48
print(edad)
edad = "Diana"
print(edad)

48
Diana

In [ ]:
val = True
print(val)

True

In [ ]:
nombre = 'Carlos'
apellido = "Perez"
edad = 45
estatura = 1.80
print(nombre + " \n" + apellido , edad , estatura)

Carlos
Perez 45 1.8

# # COMENTARIOS

1. Documentar
2. Pruebas

In [ ]:
nombrePer = input("Digite su nombre:")
print(nombrePer)

Digite su nombre:Roger
Roger

**Taller 1**

No de Identificación, Nombres, Apellidos, Dirección, Teléfono, Edad, Estado Civil, Número de hijos, Estatura en centímetros, fecha de contratación (Día/mes/año), Sueldo básico, Días Laborados.

In [ ]:
Identificacion = 123456789 
print(Identificacion)
Nombres = "Pepita"
print(Nombres)
Apellidos = "perez"
print(Apellidos)
Direccion = 942604
print(Direccion)
Telefono = 3223445678
print(Telefono)
Edad = 25
print(Edad)
Estado_civil = "Union libre"
print(Estado_civil)
Numero_de_hijos = 1
print(Numero_de_hijos)
Estatura = 1.55
print(Estatura)
Fecha_de_contratacion = 1_1_2023
print(Fecha_de_contratacion)
Sueldo_basico = 2000000
print(Sueldo_basico)
Dias_laborados = 85
print(Dias_laborados)

123456789
Pepita
perez
942604
3223445678
25
Union libre
1
1.55
112023
2000000
85