#***CICLOS REPETITIVOS***

#**CICLO FOR**

In [ ]:
for w in (1,2,3,4):
  print(w)

1
2
3
4

In [ ]:
for w in "1,2,3,4":
  print(w)

1
,
2
,
3
,
4

In [ ]:
for w in "Dagoberto":
  print(w)

D
a
g
o
b
e
r
t
o

**FUNCIÓN Range(start, stop, step)**

cuando solo se pasa 1 parámetro a la función Range por default (stop)

In [ ]:
for i in range(0,11,3):
  print(i)

0
3
6
9

In [ ]:
nombre = input("Digite su nombre: ")

for i in range(9):
  print(i, nombre)

Digite su nombre: Karen
0 Karen
1 Karen
2 Karen
3 Karen
4 Karen
5 Karen
6 Karen
7 Karen
8 Karen

Escribir un programa que realice la tabla de multiplicar de un número digitado por teclado

In [ ]:
num = int(input("Digite el número de la tyabla de multiplicar: "))
for i in range(11):
  print(i, " x ", num , " = ", i * num)

Digite el número de la tyabla de multiplicar: 15
0  x  15  =  0
1  x  15  =  15
2  x  15  =  30
3  x  15  =  45
4  x  15  =  60
5  x  15  =  75
6  x  15  =  90
7  x  15  =  105
8  x  15  =  120
9  x  15  =  135
10  x  15  =  150

Escriba un programa que me sume los números pares del 0 al 10 y saque el total de la suma.

In [ ]:
# variable acumuladora
acu = 0

for i in range(0,11,2):
  # print(i)
  acu = acu + i
print(f"El total de la suma de los números pares del 0-10= {acu}")

El total de la suma de los números pares del 0-10= 30

**Taller Refuerzo**
Ejercicios: https://drive.google.com/file/d/1L2Tn9iTSnSJlskALvM2hBpOBUEJdcwLL/view?usp=sharing

In [ ]:
#PUNTO 1 - Crear un bucle que cuente todos los números pares hasta el 100 ciclo for

for b in range(0,100,2):
  print(b)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
#PUNTO 2 - Haz una tabla de multiplicar utilizando el ciclo for ciclo for.

tabla = int(input("El numero a multiplicar es: "))
for b in range(10):
  print(b, "x", tabla, "=", b * tabla)

El numero a multiplicar es: 12
0 x 12 = 0
1 x 12 = 12
2 x 12 = 24
3 x 12 = 36
4 x 12 = 48
5 x 12 = 60
6 x 12 = 72
7 x 12 = 84
8 x 12 = 96
9 x 12 = 108

In [ ]:
#PUNTO 3 - Escribir un programa que pregunte al usuario su edad y muestre por pantalla todos los años 
# que ha cumplido (desde 1 hasta su edad). ciclo for

edad = int(input("¿Que edad tiene?: " ))
for b in range(1,26,1):
   print(b)

¿Que edad tiene?: 25
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [1]:
#PUNTO 4 - Escribir un programa que pida al usuario un número entero positivo y muestre por pantalla todos los números
# impares desde 1 hasta ese número separados por comas.

num = int(input("Digite un numero entero positivo: "))
for b in "1,3,5,7,9":
 print(b)

Digite un numero entero positivo: 9
1
,
3
,
5
,
7
,
9

In [ ]:
#PUNTO 5 - Encuentra la suma de todos los números pares del 1 al 100 ciclo for

sum = 0
for b in range(1,100,2):
  sum = sum + b
print(f"La suma total de los numeros pares del 1 al 100 es= {sum}")

La suma total de los numeros pares del 1 al 100 es= 2500