#**OPERADORES MATEMÁTICOS EN PTYHON**

In [ ]:
num1 = 4
num2 = 3
res = num1 + num2
print(res)

7

In [ ]:
# Default Input() = str
num1 = int(input("Digite el número 1: "))
num2 = int(input("Digite el número 2: "))
res = num1 + num2
print("La suma de {} y {} es = {}".format(num1, num2, res ))
print(f"La suma de {num1} y {num2} es = {res}")

Digite el número 1: 50
Digite el número 2: 2
La suma de 50 y 2 es = 52
La suma de 50 y 2 es = 52

In [ ]:
try:
  num = input("Digite el número: ")
  num  =int(num)
except ValueError:
  print("No es valido el Intero!!")

Digite el número: diana
No es valido el Intero!!

In [ ]:
num = input("Digite el número: ")
num  =int(num)

Digite el número: 0

**CALCULADORA** + - * /

In [ ]:
num1 = int(input("Digite el número 1: "))
num2 = int(input("Digite el número 2: "))

suma = num1 + num2
resta = num1 - num2
multi = num1 * num2
divi = num1 / num2

print("\nEl reultado de la SUMA es= {}".format(suma))
print("\nEl reultado de la RESTA es= {}".format(resta))
print(f"\nEl resultado de la MULTIPLICACIÓN es= {multi}")
print(f"\nEl resultado de la DIVISIÓN es= {divi}")

Digite el número 1: 10
Digite el número 2: 5

El reultado de la SUMA es= 15

El reultado de la RESTA es= 5

El resultado de la MULTIPLICACIÓN es= 50

El resultado de la DIVISIÓN es= 2.0

Se recibe una venta por concepto de un prodcuto se requiere aplicar el IVA (19%) y conocer el total a pagar con el IVA Incluido

In [ ]:
# variable que captura la venta
venta = float(input("¿Cuánto fue el total de la compra?: "))
iva = venta * 0.19
total = venta + iva
print("El IVA es = ${:,.0f} y el total a pagar esl = ${:,.0f}".format(iva, total))
print(f"El IVA es = ${iva:,.0f} y el total a pagar esl = ${total:,.0f}")

¿Cuánto fue el total de la compra?: 850000
El IVA es = $161,500 y el total a pagar esl = $1,011,500
El IVA es = $161,500 y el total a pagar esl = $1,011,500

Se necesita un sistema que reciba tres calificaciones parciales de un alumno y en base a estas darle su promedio

In [ ]:
cal1 = float(input("Digite la calificación 1: "))
cal2 = float(input("Digite la calificación 2: "))
cal3 = float(input("Digite la calificación 3: "))

prom = round((cal1 + cal2 + cal3)/3, 2)

print(f"El promedio es= {prom}")

Digite la calificación 1: 4.2
Digite la calificación 2: 3.7
Digite la calificación 3: 1.8
El promedio es= 3.23

# **Taller Refuerzo**
https://drive.google.com/file/d/1jFH9DgCRha_dn9JG7c_jjTpeE5x5kK3d/view?usp=sharing

1. Un vendedor recibe un sueldo base más un 10% extra por
comisión de sus ventas, el vendedor desea saber cuánto
dinero obtendrá por concepto de comisiones por las tres
ventas que realiza en el mes y el total que recibirá en
el mes tomando en cuenta su sueldo base y comisiones.

In [ ]:
sueldo = int(input("El sueldo base es: "))
ven1 = int(input("\nVenta No. 1: "))
ven2 = int(input("Venta No. 2: "))
ven3 = int(input("Venta No. 3: "))
com1 = ven1 * 0.10
com2 = ven2 * 0.10
com3 = ven3 * 0.10

print("\nTotal comision= ${:,.0f}".format(com1 + com2+ com3))
print("\nTotal sueldo= ${:,.0f}".format(com1 + com2+ com3 + sueldo))

El sueldo base es: 1800000

Venta No. 1: 5000000
Venta No. 2: 3000000
Venta No. 3: 2000000

Total comision= $1,000,000

Total sueldo= $2,800,000

2. Una tienda ofrece un descuento del 15% sobre el total
de la compra y un cliente desea saber cuánto deberá
pagar finalmente por su compra.

In [ ]:
print("Tienda Zara`s")
print("Factura No. 2514")
com1 = int(input("\nBlusas: "))
com2 = int(input("Pantalones: "))
com3 = int(input("Zapatos: "))
totalcom = com1 + com2 + com3
des = totalcom * 0.15

print("\nSubtotal compra= ${:,.0f}".format(totalcom))
print("Descuento= ${:,.0f}".format(des))
print("Total a pagar= ${:,.0f}".format(totalcom - des))

Tienda Zara`s
Factura No. 2514

Blusas: 208000
Pantalones: 377000
Zapatos: 693000

Subtotal compra= $1,278,000
Descuento= $191,700
Total a pagar= $1,086,300

3. Un maestro desea saber qué porcentaje de hombres y que
porcentaje de mujeres hay en un grupo de estudiantes.

In [ ]:
print("Docente: Pepito Perez ")
print("Clase: Programacion")
print("Grupo de estudiantes: 50")

num_hom = 32
num_muj = 18
total = num_hom + num_muj
porcentaje1 = num_hom * 100 / total
porcentaje2 = num_muj * 100 / total

print(f"\nEl % de hombres es = {porcentaje1}")
print(f"El % de muejeres es = {porcentaje2}")
print("Para un total de = {}".format(porcentaje1 + porcentaje2))

Docente: Pepito Perez
Clase: Programacion
Grupo de estudiantes: 50

El % de hombres es = 64.0
El % de muejeres es = 36.0
Para un total de = 100.0